// layout
#app,
.app-container,
.container {
  height: 100%;
}

.page-container {
  margin: 0 auto;
  height: 100%;
}

// heading
h1,
h2 {
  font-weight: 700;
}

// spinner
.spinner {
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

// box shadow
.block--shadow {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 2px 6px 3px rgba(188, 177, 157, 0.5);
    background-color: #fff;
  }
}

// dimmed
.dimmed {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
  }
}

// checkbox
.check-box {
  font-size: 0;
  line-height: normal;

  label {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
    }
  }

  input {
    display: none;
  }

  &.checked {
    label {
      width: 48px;
      height: 48px;
      background-color: #d8d8d8;
      border-radius: 12px;

      &:before {
        left: 17px;
        top: 9px;
        width: 15px;
        height: 25px;
        border-style: solid;
        border-color: #bebebe;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
      }
    }
    input {
      &:checked + label {
        background-color: #3466c2;
        &:before {
          border-color: #fff;
        }
      }
    }
  }

  &.slide {
    label {
      width: 92px;
      height: 48px;
      background-color: #c4c4c4;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
      -webkit-tap-highlight-color: transparent;

      &:before {
        top: 8px;
        left: 8px;
        height: 32px;
        width: 32px;
        background-color: #fff;
        border-radius: 46px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
        animation: moveLeft 0.3s ease-in-out;
      }

      &:after {
        content: 'OFF';
        position: absolute;
        top: 15px;
        right: 14px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #fff;
      }
    }

    input {
      &:checked + label {
        background-color: #3466c2;

        &:before {
          transform: translateX(40px);
          box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
          animation: moveRight 0.3s ease-in-out;
        }

        &:after {
          content: 'ON';
          position: absolute;
          top: 15px;
          left: 17px;
        }
      }
    }
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

// static page style
.reminding {
  padding-top: 180px;

  .page-icon-wrap {
    margin-bottom: 50px;
  }
}

// static page background image
.reminding {
  background-image: url('/public/images/bg/bg-reminding.jpg');
}

// modal transition
/* transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
